<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        header {
            text-align: center;
            padding: 10px;
            background-color: #f2f2f2;
        }
        section {
            max-width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>

    <header>
        <h1>Blog</h1>
    </header>

    <section>
        <p>Esta es una app web para publicar contenido estylo Blog</p>

        <h2>Contacto</h2>
        <p>No dude en ponerse en contacto con nosotros a través de nuestro correo electrónico o número de teléfono.</p>

        <p>Correo Electrónico: juanpablomaureira.r@gmail.com</p>
        <p>Teléfono: +123 456 789</p>
    </section>

</body>
</html>
